.App {
  width: fit-content;
  margin: 20px auto;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 2px 2px 20px rgb(192, 191, 191);
  text-align: center;
}

.submit{
  background-color: rgb(85, 85, 85);
  color: aliceblue;
  border: none;
  padding: 10px;
  border-radius: 4px;

}